
section#body
{
    padding: 1em;
}
nav.row
{
    background:#C21C1C;
}
section#body header h1
{
    color: #C21C1C;
    
}

section#produtos
{
    margin-top: 1em;
    display: flex;
    
}
div.produto 
{
    border: solid 1px black;
    width: fit-content;
    margin: auto;
}
div.produto div
{
    border: solid 1px black;
    text-align: center;
}


@media screen and (max-width:520px)
{
    *body
    {
        max-width: 520px;
    }
    div.col 
    {
        height: 200px;
    }
    section#produtos
{
    margin-top: 2px;
    display: flex;
    
    
}
section#produtos
{    
  
    height: auto;
    width: auto;
    box-shadow: 2px 1px 8px black;
}


div#produto1
{
    margin-right:50px;
    border-radius: 7px;
    box-shadow: 2px 1px 8px black;
    
}
div#produto2
{
    margin-right: 50px;
    border-radius: 7px;
    box-shadow: 2px 1px 8px black;
}
div#produto3
{
    margin-right: 50px;
    border-radius: 7px;
    box-shadow: 2px 1px 8px black;
    
}
div#produto4
{
    margin-right: 50px;
    border-radius: 7px;
    box-shadow: 2px 1px 8px black;
}
}
